.loginsignup {
    width: 100%;
    min-height: 80vh;
    background-color: #e6f7e6; 
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.loginsignup-container {
    width: 90%;
    max-width: 31.25rem; 
    background: white;
    margin: auto;
    padding: 2.5rem 3rem;
    border-radius: 0.9375rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.loginsignup-container h1 {
    margin: 1.25rem 0;
    color: #333;
    font-size: 1.75rem;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.875rem;
}

.loginsignup-fields input {
   height: 3.5rem;
   width: 100%;
   padding-left: 1.25rem;
   border: 1px solid #c9c9c9; 
   border-radius: 0.5rem;
   outline: none;
   color: #5c5c5c;
   font-size: 1.125rem; 
}

.loginsignup-container button {
    width: 10rem;
    margin-top: 1.5rem;
    height: 2.8125rem;
    color: white;
    font-size: 1.25rem;
    background: #0ed31e;
    border: none;
    border-radius: 1.5625rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginsignup-container button:hover {
    background-color: #0bb318;
}

.loginsignup-login {
    margin-top: 1.25rem;
    color: #5c5c5c;
    font-size: 1.125rem;
    font-weight: 500;
}

.loginsignup-login span {
    color: #0ed31e;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
}

.loginsignup-login span:hover {
    color: #0bb318;
    text-decoration: underline;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 1.5625rem;
    gap: 1.25rem;
    color: #5c5c5c;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1320px) {
    .loginsignup-container {
        max-width: 28rem;
        padding: 2rem 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .loginsignup {
        padding-top: 3rem;
    }

    .loginsignup-container {
        width: 90%;
        max-width: 25rem;
        padding: 1.875rem 1.25rem;
    }

    .loginsignup-fields input {
        height: 3.125rem;
        font-size: 1rem;
    }

    .loginsignup-container button {
        width: 100%;
        height: 2.5rem;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 480px) {
    .loginsignup {
        padding-top: 1.875rem;
    }

    .loginsignup-container {
        width: 95%;
        padding: 1.25rem 0.9375rem;
    }

    .loginsignup-fields {
        gap: 1.25rem;
    }

    .loginsignup-fields input {
        height: 2.5rem;
        font-size: 0.875rem;
        padding-left: 0.75rem;
    }

    .loginsignup-login,
    .loginsignup-agree {
        font-size: 0.875rem;
    }
    
    .loginsignup-agree {
        gap: 0.625rem;
    }
}